---
# By using these dashes, the file will be compiled to a separate .css
---
@charset 'utf-8';

/**
 * Blog styles
 *
 */

@import 'reset';
@import 'fonts';
@import 'content';
@import 'highlight';

/**
 * @section Blog-specific variables
 *
 */

$col-left-width: 67%;

$breakpoint-medium: 30rem;
$breakpoint-large: 56rem;

$column-padding-min: 1.5rem;
$column-padding-flexible: 1.5vw;

$body-background: hsl($hue2, 50%, 95%);
$wrapper-background: white;
$col-secondary-background: $highlight-background-color;
$post-header-background: hsl($hue, 40%, 50%);

/**
 * @section Mixins
 *
 */

@mixin medium {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

/**
 * @section Base layout
 *
 */

/* Page background */

html {
  height: 100%;
  background-color: $body-background;
}

/* Wrapper */

.page-wrapper {
  background-color: $wrapper-background;
  margin: auto;

  @include medium {
    max-width: $breakpoint-medium + 13rem;
  }

  @include large {
    max-width: $breakpoint-large + 10rem;
  }
}

.col-wrapper {
  @include large {
    display: flex;
  }
}

/* Two columns */

.col-primary,
.col-secondary {
  padding: 1rem calc(#{$column-padding-min} + #{$column-padding-flexible});

  @include large {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.col-primary {
  @include large {
    flex: 0 0 auto;
    width: $col-left-width;
  }
}

.col-secondary {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $col-secondary-background;

  @include large {
    flex: 0 0 auto;
    width: 100% - $col-left-width;
  }
}

/* Top navigation (Mobile) */

.top-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 0;

  @include large {
    margin: 0;
  }
}

.top-navigation__home,
.top-navigation__jump-to-bottom {
  @include large {
    @include accessible-hide;

    // Make visible on focus
    &:focus {
      @include accessible-show;
      background-color: white;
      position: absolute;
      top: 0;
      left: 50%;
      padding: 0.5rem 1rem;
      outline-offset: 0;
      transform: translateX(-50%);
    }

  }
}

.top-navigation__jump-to-bottom {
  text-align: right;
}

/* Document footer */

.document-footer {
  background-color: $col-secondary-background
}

.document-footer-list {
  list-style: none;
  margin-right: 1.5rem;
  padding-top: 0.3rem;
}

.document-footer-item {
  margin-bottom: 0.3rem;
}

.document-footer-link {
  display: block;
}

@include medium {
  .document-footer-list {
    display: flex;
    margin: 0;
  }

  .document-footer-item {
    margin-bottom: 0;
    flex: 1 0 auto;
    text-align: center;
  }

  .document-footer-link {
    padding: 1rem 0;
  }
}

/**
 * @section Post
 *
 */

.post-header {
  margin: 0 calc(-1 * (#{$column-padding-min} + #{$column-padding-flexible})) 1rem;
  padding: 1.5rem calc(#{$column-padding-min} + #{$column-padding-flexible});
  background-color: $post-header-background;
  color: white;
  text-shadow: 1px 1px 2px #333;
}

.post-link {
  &:link {
    display: block;
    border: 0;
    text-decoration: none;
    color: inherit;
  }

  &:visited {
    color: #f0f0f0;
  }

  &:focus {
    outline-color: white;
  }
}

.post-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: inherit;

  @include large {
    letter-spacing: 0.5px;
  }
}

.post-sup {
  margin-bottom: 0;
  font-size: 0.8em;

  @include large {
    font-size: 0.9em;
  }
}

.post-description {
  margin: 2.5rem 0;
  font-size: 1.2rem;
}

.post-description-strong {
  font-weight: normal;
}

/*
.post-read-on {
  white-space: nowrap;
}
*/

.post-body {
  & > p:last-child,
  & > ol:last-child,
  & > ul:last-child {
    margin-bottom: 0;
  }
}

.post-short {
  margin-bottom: 2.5rem;
}

@include large {
  .post-short:last-child {
    margin-bottom: 0;
  }
}

.post-excerpt {
  margin-bottom: 0;
  font-size: 1.1rem;
}

/**
 * @section Sidebar
 *
 */

$sidebar-line-height: 1.5;

#sidebar {
  @extend %clearfix;
  padding-top: 2.5rem;
  padding-bottom: 0.1px; // Include margins
}

#sidebar h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
}

#sidebar h1 a {
  display: block;
  height: 100px;
  border: none;
  text-indent: 101%;
  overflow: hidden;
  background: url(/img/spidermum.png) no-repeat center / contain;
}

#sidebar ul {
  list-style-type: none;
  margin: 0 0 2rem;
  line-height: $sidebar-line-height;
}

#sidebar li {
  margin: 0 0 0.3rem 0;
}

@include medium {
  #sidebar h1 {
    float: left;
    width: 120px;
  }

  #sidebar #zitate {
    margin-left: 150px;
  }

  #sidebar .linkblock {
    float: left;
    margin-right: 3rem;
  }
}

@include large {
  #sidebar h1 {
    float: none;
    width: auto;
  }

  #sidebar #zitate {
    margin-left: 0;
  }

  #sidebar .linkblock {
    margin-right: 0;
  }
}

/**
 * @subsection Zitate
 *
 */

#zitate {
  font-family: $citation-font;
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

#zitate li {
  margin: 0 0 1rem;
}

#zitate q {
  color: black;
}

#zitate cite {
  display: block;
  font-style: normal;
  font-size: 0.8rem;
  line-height: $sidebar-line-height * 1rem;
}

#zitate a {
  color: $gray-text-color;
  border-bottom: 0;
  text-decoration: none;
}

/**
 * @section Article archive
 *
 */

.article-archive-heading {
  margin-top: 0;
}

.article-archive {
  margin-left: 0;
  list-style: none;
}

.article-archive-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.article-archive-date {
  flex: 0 0 auto;
  width: 5.5rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  color: $gray-text-color;
}

.article-archive-link {
  flex: 1 1 auto;
}

/**
 * @section Content Note
 *
 */

.content-note {
  border: 1px solid #daa;
  border-radius: 5px;
  padding: 0.5em 1em;
}

/**
 * @section Besondere Seiten
 *
 */

/**
 * @subsection Artikel-Übersicht
 * /artikel/
 *
 */

.artikel-links li {
  list-style-type: none;
  margin-bottom: 1rem;
  text-indent: -1.5rem;
  line-height: 1.5;
}

.artikel-links .artikel-titel {
  font-size: 1.2rem;
}

.artikel-titel[hreflang="de"]:before {
  content: 'DE  ';
  margin-right: 0.3rem;
  font-size: 60%;
  color: gray;
}

/**
 * @subsection Floats einschliessen
 * /css-floats-einschliessen/
 *
 */

.float-container-demo-container { background: gray; width: 12em; border: 1px solid gray; }
.float-container-demo-container p { margin: 0; }
.float-container-demo-container .left { background-color: #F99; float: left; width: 5em; }
.float-container-demo-container .right { background-color: #99F; margin-left: 5em; width: 5em; }
#container-mit-generated-content:after {
  display: block;
  content: 'Clear-Element, hier sichtbar zur Demonstration';
  background: white;
  clear: both;
}

/**
 * @subsection JavaScript Objects, Prototype Chain
 *
 */

@import 'js-objects'
