---
# By using these dashes, the file will be compiled to a separate .css
---

@charset 'utf-8';

/**
 * Book styles
 *
 */

@import 'reset';
@import 'fonts';
@import 'content';
@import 'highlight';

/**
 * @section Variables
 *
 */

$breakpoint-large: 55rem;
$toc-width: 25rem;
$main-max-width: 42rem;

$toc-background: #fafafa;
$sticky-menu-background: #f0f0f0;

$toc-background-inverted: $dark-background-color-inverted;
$sticky-menu-background-inverted: $dark-background-color-inverted;

$font-size-small: percentage(16 / 18);

/**
 * @section Mixins
 *
 */

@mixin large {
  @media screen and (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin high-dpi {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    @content;
  }
}

/**
 * @section Root element and Body
 *
 */

html {
  @include dark-scheme {
    background-color: $medium-background-color-inverted;
  }
}

body {
  counter-reset: h2 h3 h4;
  padding: 1rem;

  @include large {
    padding: 0;
  }
}

/**
 * @section Tables
 *
 */

table {
  // Do not use rem, use unit relative to parent font-size
  font-size: $font-size-small;
  margin-left: auto;
  margin-right: auto;
}

caption {
  text-align: center;
}

th,
td {
  border-style: none none solid;
}

th {
  font-weight: bold;
}

.wide-table-wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
  overflow: auto;
}

.wide-table {
  font-size: 80%;
}

/**
 * @section Code
 *
 */

pre {
  border-radius: 0.5px;
  margin-left: -1rem;
  margin-right: -1rem;
  font-size: $font-size-small;

  @include large {
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/**
 * @section Base layout
 *
 */

@include large {
  // #toc-and-main {}

  #toc-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $toc-width;
    background-color: $toc-background;
    overflow: auto;
    resize: horizontal;

    @include dark-scheme {
      background-color: $toc-background-inverted;
    }
  }

  #main-container {
    margin-left: $toc-width;
    padding: 0 2rem;
  }
}

/**
 * @section Sticky menu
 *
 */

#sticky-menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  margin: -1rem -1rem 1rem;
  height: 2.5rem;
  background-color: $sticky-menu-background;
  font-size: 0.8rem;
  text-align: center;

  @include large {
    display: none;
  }

  @include dark-scheme {
    background-color: $sticky-menu-background-inverted;
  }

  .tokyo-tower {
    font-size: 250%;
    line-height: 1;
  }

  a:link {
    border: 0;
    padding: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: 1.4;
  }

  .link-type {
    display: none;
  }
}

/**
 * @section Table of contents
 *
 */

@include large {
  #toc {
    padding: 2rem;
  }
}

#toc-home-link {
  display: none;

  @include large {
    display: flex;
    justify-content: space-between;
  }
}

#toc-book-title,
#toc-heading {
  margin: 2rem 0;

  &::before {
    counter-increment: none;
    content: none;
  }

  @include dark-scheme {
    color: inherit;
    background-color: transparent;
  }
}

#toc-book-title {
  font-size: 2rem;
  text-align: center;

  @include large {
    font-size: 1.5rem;
  }
}

#toc-heading {
  font-size: 1.2rem;
  text-align: center;

  @include large {
    @include accessible-hide;
  }
}

#toc-epub-link {
  text-align: center;
}

#toc-tree {
  margin: 0;

  @include large {
    margin: 0 -2rem;
  }

  ol {
    margin: 0.5rem 0;
    font-size: 0.95rem;
  }
  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  li li {
    margin-bottom: 0;
  }
  a {
    padding: 0 1rem;
  }
  ol a {
    padding: 0 1rem 0 (1rem + 1 * 1.5rem);
  }
  ol ol a {
    padding-left: (1rem + 2 * 1.5rem);
  }

  a {
    display: block;
    text-decoration: none;
  }

  .active {
    color: $toc-background;
    background-color: $link-color;

    @include dark-scheme {
      color: $toc-background-inverted;
      background-color: $link-color-inverted;
    }
  }

  .link-type {
    display: none;
  }
}

/**
 * @section Main
 *
 */

#main {
  // Slightly larger font size than the default
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  word-spacing: 0.2px;
  overflow-wrap: break-word;

  @include large {
    margin: auto;
    max-width: $main-max-width;
  }

  counter-reset: h2 h3 h4;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3rem 0 2rem;

    @include dark-scheme {
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 2rem 1rem;
      background-color: $highlight-background-color-inverted;
      border-radius: 0.5px;

      @include large {
        margin-left: -2rem;
        margin-right: -2rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  h2 {
    // Do not use rem but inherit font-size
    font-size: 160%;
    counter-reset: h3 h4;
  }

  h2::before {
    counter-increment: h2;
    content: counter(h2) '.';
  }

  h3 {
    font-size: 150%;
    counter-reset: h4;
  }

  h3::before {
    counter-increment: h3;
    content: counter(h2) '.' counter(h3);
  }

  h4 {
    font-size: 140%;
  }

  h4::before {
    counter-increment: h4;
    content: counter(h2) '.' counter(h3) '.' counter(h4);
  }

  h2::before,
  h3::before,
  h4::before {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
  }
}

/**
 * @section Cover image
 *
 */

#cover {
  margin: 4rem 0;
  text-align: center;
  font-size: 0.8rem;

  @include large {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

#cover-image-tokio-tower {
  display: block;
  margin: auto;
  max-width: 70vw;
  max-height: 48vh;
}

#cover-image-flying-probe {
  display: block;
  margin: auto;
  width: 800px;
  max-width: 100%;
}

#cover-credits-link {
  border: 0;
}

/**
 * @section Main
 *
 */

#main-heading {
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
  color: inherit;

  @include large {
    margin: 4rem 0;
    font-size: 3rem;
  }

  .subheading {
    display: block;
    margin: 2rem 0;
    font-size: 1.5rem;

    @include large {
      font-size: 2.25rem;
    }
  }
}

.intro {
  font-size: 1.2rem;

  @include large {
    font-size: 1.25rem;
  }
}

.intro-caps {
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

/**
 * @section Link types
 *
 */

.link-type {
  font-size: 0.8rem;
  color: gray;

  @include dark-scheme {
    color: inherit;
  }
}

/**
 * @section Erroneous code
 *
 */

.erroneous {
  pre {
    @include dark-scheme {
      background-color: adjust-color(
        $highlight-background-color-inverted,
        $red: 15
      );
    }
  }
}

/**
 * @section Typographic separator
 *
 */

.separator {
  display: block;
  margin: 4.5rem auto;
  width: 3rem;
  height: 3rem;
  color: #e0e0e0;
}

/**
 * @section List of source links
 */

.book-sources {
  margin-bottom: 1rem;
  font-size: $font-size-small;

  ul {
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 0;

    background-color: $highlight-background-color;
    @include dark-scheme {
      background-color: $highlight-background-color-inverted;
    }
  }

  li + li {
    margin-top: 1px;
  }

  a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &::before {
      content: '🔗';
      margin-right: 1rem;
    }
  }
}

/**
 * @section Iframes
 */

.responsive-iframe {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  height: 0;
  // 1:1
  padding-top: 100%;

  @include large {
    // 16:9
   padding-top: 56.25%;
  }
}

.responsive-iframe__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 2px solid $darker-text-color;
  @include dark-scheme {
    border: 2px solid white;
  }
}

.load-iframe {
  display: block;
  width: 100%;
  padding: 0 1rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  border: 2px solid $darker-text-color;
  background-color: $highlight-background-color;
  @include dark-scheme {
    border: 2px solid $dark-background-color-inverted;
    background-color: $highlight-background-color-inverted;
  }
}

/**
 * @section Margin notes
 */

$margin-note-inner-width: 8rem;
$margin-note-gap: 2rem;
$margin-note-outer-width: $margin-note-inner-width + $margin-note-gap;
$margin-note-breakpoint: $toc-width + $main-max-width + (2 * $margin-note-outer-width);

.margin-note {
  display: block;
  margin: 0 0 1rem 0;
  font-size: 80%;
  line-height: 2;
  font-variant: small-caps;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  page-break-after: avoid;

  @media screen and (min-width: $margin-note-breakpoint) {
    float: left;
    width: $margin-note-inner-width;
    margin-left: -$margin-note-outer-width;
    margin-top: 0.3rem;
    line-height: 1.6;
    font-variant: normal;
    text-align: right;
    text-transform: none;
    letter-spacing: inherit;
    word-spacing: inherit;
  }

  p {
    margin: 0;
    line-height: inherit;
  }
}
