/* Make the box model digestible for humans */
* {
  box-sizing: border-box;
}

/* body base styling */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #433;
}

/* Reset specific element types */
h1, h2, h3, h4, h5, h6,
p, ul, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

a:focus,
a:hover {
  border-bottom: 1px solid currentColor;
  color: #633;
}

/* Page scaffold */

.container {
  margin: auto;
  max-width: 960px;
}

/* Page header */

.page-header {
  background-color: #f0faff;
}

.page-header:after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  margin: 0;
  padding: 20px;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  font-size: 30px;
  color: #446;
  text-shadow: 1px 1px 3px white;
}

.slogan {
  padding: 0 20px 20px;
  font-size: 20px;
  font-family: "Segoe Print", "Palatino Linotype", Georgia, serif;
  font-style: italic;
  color: #446;
}

.login-link {
  float: right;
  margin: 10px;
}

@media (min-width: 640px) {
  .login-link {
    margin: 20px;
  }
}

.login-link-a {
  display: block;
  padding: 5px 20px;
  background-color: #daeaff;
  border-radius: 5px;
}

/* Teaser */

.teaser {
  position: relative;
  padding-top: 75%;
  background-image: url(../images/teaser-small.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 640px) {
  .teaser {
    padding-top: 40%;
  }
}

.teaser-text {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 2px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "Segoe Print", "Palatino Linotype", Georgia, serif;
  font-size: 90%;
}

/* Product section */

.product-section-header {
  margin-top: 20px;
}

/* Product category navigation */

.product-category-nav:after {
  content: "";
  display: block;
  clear: both;
}

.product-category-nav-item {
  float: left;
  margin: 0 0 15px 20px;
}

.product-category-nav-current {
  padding-bottom: 5px;
  border-bottom: 1px solid currentColor;
}

/* Product list */

.product-list {
  padding-left: 10px;
}

.product-list:after {
  content: '';
  display: block;
  clear: both;
}

.product-list-item {
  float: left;
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media (min-width: 640px) {
  .product-list-item {
    width: 33.3%;
  }
}

/* Product */

.product {
  display: block;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

.product:hover {
  border: 1px solid #d788af;
}

.product-image {
  width: 100%;
}

.product-title {
  text-align: center;
  margin: 5px 0;
}

.product-price {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 85%;
  color: #602;
  font-weight: 500;
  font-variant-numeric: oldstyle-nums;
  text-align: right;
}

/* More navigation */

.more-nav {
  margin: 20px 0;
  text-align: center;
}

.load-more {
  padding: 5px 20px;
  background-color: #daeaff;
  border-radius: 2px;
}

/* Page footer */

.page-footer {
  background-color: #f0faff;
  padding: 20px 40px 0;
}

.page-footer-links {
}

.page-footer-links:after {
  content: "";
  display: block;
  clear: both;
}

.page-footer-link {
  float: left;
  font-size: 90%;
  color: gray;
  border-radius: 2px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.page-footer-link-a {
}
