---
layout: blog
---

{% include top.html %}

<article class="post post-short">
  <header class="post-header">
    <a href="https://testing-angular.com" class="post-link">
      <h1 class="post-title">Testing Angular - A Guide to Robust Angular Applications</h1>
      <p class="post-sup">
        <time class="post-date" datetime="2021-02-17">February 17th, 2021</time>
      </p>
    </a>
  </header>
  <p class="post-excerpt">How do we take advantage of Angular’s testability?</p>
</article>

{% for post in site.posts limit: 5 %}
  {% unless post.draft %}
    {% include post-short.html %}
  {% endunless %}
{% endfor %}

{% include col-sidebar.html %}

<div class="page-wrapper col-wrapper wrapper-bottom">
<div class="col-primary bottom-primary">

  <h2 class="article-archive-heading">Older articles</h2>
  <ul class="article-archive">
  {% for post in site.posts offset: 5 %}
    {% unless post.draft %}
      <li class="article-archive-item">
        <time datetime="{{ post.date | date: "%F" }}" class="article-archive-date">{{ post.date | date: "%F" }}</time>
        <a href="{{ post.url | prepend: site.baseurl }}" class="article-archive-link">{{ post.title }}</a>
      </li>
    {% endunless %}
  {% endfor %}
  </ul>
</div>

<div class="col-secondary"></div>

</div><!-- /wrapper-bottom -->

{% include footer.html %}

{% include bottom.html %}
