<div class="page-wrapper">
  <footer class="document-footer">
    <ul class="document-footer-list">
      <li class="document-footer-item document-footer-duplicate">
        <a href="/" title="Home page"  class="document-footer-link">molily</a>
      </li>
      <li class="document-footer-item document-footer-duplicate">
        <a href="mailto:molily@mailbox.org" class="document-footer-link">Email</a>
      </li>
      <li class="document-footer-item document-footer-duplicate">
        <a href="https://mastodon.social/@molily" class="document-footer-link">Mastodon</a>
      </li>
      <li class="document-footer-item document-footer-duplicate">
        <a href="https://twitter.com/molily" class="document-footer-link">Twitter</a>
      </li>
      <li class="document-footer-item">
        <a href="/impressum/" lang="de"  class="document-footer-link">Impressum &amp; Datenschutz</a>
      </li>
    </ul>
  </footer>
</div>
