<div class="page-wrapper">
  <footer class="document-footer">
    <ul class="document-footer-list">
      <li class="document-footer-item">
        <a href="/" title="Home page"  class="document-footer-link">molily</a>
      </li>
      <li class="document-footer-item">
        <a href="mailto:molily@mailbox.org"  class="document-footer-link">molily@mailbox.org</a>
      </li>
      <li class="document-footer-item">
        <a href="https://twitter.com/molily" title="Twitter profile"  class="document-footer-link">@molily</a>
      </li>
      <li class="document-footer-item">
        <a href="/impressum/" lang="de"  class="document-footer-link">Impressum &amp; Datenschutz</a>
      </li>
    </ul>
  </footer>
</div>
