{% capture canonical_url %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}

{% capture description %}
  {% if page.description %}
    {{ page.description }}
  {% else %}
    {{ site.description }}
  {% endif %}
{% endcapture %}

<link rel="preload" href="/assets/fonts/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2" as="font" type="font/woff2" crossorigin="anonymous">

<link rel="canonical" href="{{ canonical_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="author" href="mailto:molily@mailbox.org" title="E-Mail">

<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip | strip_newlines }}{% else %}{{ site.keywords }}{% endif %}">
<meta name="theme-color" content="#6f53b2">

<meta property="twitter:account_id" content="1494951763">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@molily">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ site.url }}/img/spidermum-gray-bg-square-small.png">

<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ site.url }}/img/spidermum-gray-bg-square-small.png">

<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/assets/manifest.json">

{% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
{% endif %}

<script>
if(document.fonts&&document.fonts.load){document.fonts.load('1em Noto Sans','aäß').then(function(){document.documentElement.classList.add('fonts-loaded')})}
</script>
