<article class="post post-short"{% if post.lang %} lang="{{ post.lang }}"{% endif %}>

  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title }}</a>
    </h1>
    <p class="post-sup">
      <time class="post-date" datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    </p>
  </header>

  <p class="post-excerpt">
    {% if post.description %}
      {{ post.description }} &ndash;
    {% endif %}
    {{ post.content | strip_html | truncate: 160 }}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-on"
      title="Read on: {{ post.title }}">
      Read on
    </a>
  </p>

</article>
