<div id="sidebar">

  <header>
    <h1><a href="/" title="Zur Startseite (Home)">molily</a></h1>
  </header>

  <aside>

    <h2 class="accessible-hide">Zitate</h2>

    <ul id="zitate">
      <li>
        <q cite="http://www.kafka.org/index.php?ohg">»Den ekel- und haßerfüllten Kopf auf die Brust senken. Gewiß, aber wie, wenn Dich jemand am Hals würgt?«</q>
        <cite><a href="http://www.kafka.org/index.php?ohg" title="Zitatquelle">Franz Kafka, 25. November 1917</a></cite>
      </li>
      <li>
        <q cite="http://eklektrick.org/rest.html">»Dabei ist es doch müßig über den Gewaltakt der Befreiung nachzudenken, wenn Du nicht weißt, wer Dir die Fesseln anlegt.«</q>
        <cite><a href="http://eklektrick.org/rest.html" title="Zitatquelle">Älis, Eklektrick</a></cite>
      </li>
    </ul>

    <h2 class="accessible-hide">Links auf Unterseiten</h2>

    <ul class="linkblock">
      <li><a href="/artikel/" class="linkblock__link">Fachartikel zur Webentwicklung</a></li>
      <li><a href="/js/">Einführung in JavaScript</a></li>
      <li><a href="/sterne/">Die Sterne Fanseite</a></li>
      <li><a href="/lit-woerter/">Bemerkenswerte Wörter</a></li>
    </ul>

    <h2 class="accessible-hide">Links zu Projekten und Profilen</h2>

    <ul class="linkblock">
      <li><a href="https://twitter.com/molily">Twitter-Meldungen</a></li>
      <li><a href="https://github.com/molily">GitHub-Softwareprojekte</a></li>
      <li><a href="https://www.diigo.com/user/molily">Bookmarks</a></li>
      <li><a href="https://github.com/chaplinjs/chaplin" lang="en" hreflang="en">Chaplin.js – JavaScript Application Architecture with Backbone.js</a></li>
    </ul>

    <h2 class="accessible-hide">Links über den Autor, molily</h2>

    <ul class="linkblock">
      <li><a href="/resume/">Über molily</a></li>
      <li><a href="/resume-en/" lang="en" hreflang="en">About molily</a></li>
      <li><a href="mailto:zapperlott@gmail.com" rel="author">E-Mail: zapperlott@gmail.com</a></li>
      <li><a href="/avatar/">Avatar: Spider Mum</a></li>
    </ul>

  </aside>

</div><!-- /sidebar -->
