<div id="sidebar">

  <aside>

    <p class="sidebar-logo"><a href="/" title="Home page">molily</a></p>

    <h2 class="accessible-hide">Quotes</h2>

    <ul id="zitate" lang="de">
      <li>
        <q cite="http://www.kafka.org/index.php?ohg">Den ekel- und haßerfüllten Kopf auf die Brust senken. Gewiß, aber wie, wenn Dich jemand am Hals würgt?</q>
        <cite><a href="http://www.kafka.org/index.php?ohg" title="Zitatquelle">Franz Kafka, 25. November 1917</a></cite>
      </li>
      <li>
        <q cite="http://eklektrick.org/rest.html">Dabei ist es doch müßig über den Gewaltakt der Befreiung nachzudenken, wenn Du nicht weißt, wer Dir die Fesseln anlegt.</q>
        <cite><a href="http://eklektrick.org/rest.html" title="Zitatquelle">Älis, Eklektrick</a></cite>
      </li>
    </ul>

  </aside>

  <nav>

    <h2 class="accessible-hide">Links to pages on this site</h2>

    <p class="sidebar-special-link">
      <a href="/testing-angular/">
        <strong>Testing Angular</strong><br>
        A Guide to Robust Angular Applications<br>
        <small>Free online book and e-book</small>
      </a>
    </p>

    <ul class="sidebar-links">
      <li><a href="/artikel/">Web development articles</a></li>
      <li><a href="/robust-javascript/">Robust Client-Side JavaScript</a></li>
      <li><a href="/js/" lang="de" hreflang="de">Einführung in JavaScript</a></li>
      <li><a href="/sterne/" lang="de" hreflang="de">Die Sterne Fanseite</a></li>
      <li><a href="/lit-woerter/" lang="de" hreflang="de">Bemerkenswerte Wörter</a></li>
    </ul>

    <h2 class="accessible-hide">Links to projects and external profiles</h2>

    <ul class="sidebar-links">
      <li><a href="https://twitter.com/molily">Twitter profile</a></li>
      <li><a href="https://github.com/molily">GitHub profile</a></li>
      <li><a href="https://www.diigo.com/user/molily">Bookmarks</a></li>
      <li><a href="https://github.com/chaplinjs/chaplin">Chaplin.js – JavaScript Application Architecture</a></li>
    </ul>

    <h2 class="accessible-hide">Links about the author</h2>

    <ul class="sidebar-links">
      <li><a href="/resume-en/">About molily</a></li>
      <li><a href="mailto:molily@mailbox.org" rel="author">E-Mail: molily@mailbox.org</a></li>
      <li><a href="/avatar/" hreflang="de">Avatar: Spider Mum</a></li>
    </ul>

  </nav>

</div>
