/**
 * Variables
 *
 */

/**
 * @section Colors
 *
 */

// Accent colors
$hue: 258;
$hue2: 220;

// Text and background colors
$text-color: #252527;
$gray-text-color: #777;
$heading-color: hsl($hue, 60%, 25%);
$highlight-background-color: hsl($hue2, 50%, 98%);
$code-text-color: #009;
$citation-text-color: #4a4a60;

// Link colors
$link-color: hsl($hue2, 100%, 30%);
$link-visited-color: $text-color;

$link-border-color: #e0e0f0;
$link-visited-border-color: lighten($link-border-color, 1%);

$link-underline-color: desaturate(lighten($link-color, 40%), 60%);
$link-visited-underline-color: lighten($text-color, 60%);

$link-active-border-color: #8080c0;
$link-active-underline-color: $link-color;

/**
 * @section Typography
 *
 */

// Font stack without webfont
$sans-serif-font: 'Segoe UI', Corbel, "-apple-system", system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Font stack with webfont
$base-font: 'Noto Sans', $sans-serif-font;

$monospace-font: 'Monaco', 'Consolas', 'Droid Sans Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Liberation Mono', 'Courier New', monospace;

$citation-font: 'Century Schoolbook', 'Book Antiqua', 'Palatino Linotype', Didot, 'URW Palladio L', Georgia, serif;

$content-line-height: 1.8;
$heading-line-height: 1.5;
