/**
 * Variables
 *
 */

/**
 * @section Colors
 *
 */

// Accent colors
$hue: 258;
$hue2: 220;

// Text and background colors
$background-color: white;
$text-color: #252527;
$gray-text-color: #666;
$heading-color: hsl($hue, 60%, 25%);
$highlight-background-color: hsl($hue2, 50%, 98%);
$code-text-color: #009;
$citation-text-color: #4a4a60;

// Inverted text and background colors
$background-color-inverted: hsl(253, 40%, 7%);
$text-color-inverted: #d0d0d0;
$heading-color-inverted: hsl($hue + 10, 100%, 75%);
$highlight-background-color-inverted: hsl($hue, 50%, 12%);
$code-text-color-inverted: hsl(170, 55%, 70%);
$citation-text-color-inverted: #b0b0b0;

// Link colors
$link-color: hsl($hue2, 100%, 30%);
$link-border-color: desaturate(lighten($link-color, 40%), 60%);

$link-visited-color: $text-color;
$link-visited-border-color: lighten($link-border-color, 1%);

$link-active-border-color: #8080c0;

// Inverted link colors
$link-color-inverted-hue: 57;

$link-color-inverted: hsl($link-color-inverted-hue, 60%, 80%);
$link-border-color-inverted: darken($link-color-inverted, 45%);

$link-visited-color-inverted: hsl($link-color-inverted-hue, 15%, 40%);
$link-visited-border-color-inverted: inherit;

$link-active-border-color-inverted: $link-border-color-inverted;

/**
 * @section Typography
 *
 */

// Font stack without webfont
$sans-serif-font: 'Segoe UI', Corbel, "-apple-system", system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Font stack with webfont
$base-font: 'Noto Sans', $sans-serif-font;

$monospace-font: 'Monaco', 'Consolas', 'Droid Sans Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Liberation Mono', 'Courier New', monospace;

$citation-font: 'Century Schoolbook', 'Book Antiqua', 'Palatino Linotype', Didot, 'URW Palladio L', Georgia, serif;

$content-line-height: 2;
$heading-line-height: 1.5;
