* {
  box-sizing: border-box;
}

body {
  margin: 3em;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

@media (min-width: 50em) {

  .row {
    margin-left: -1em;
    margin-right: -1em;
  }
  .row:after {
    content: '';
    display: block;
    clear: both;
  }

  .col {
    float: left;
    width: 50%;
    padding: 0 1em;
    min-height: 1px;
  }

}

#results, #fullview {
  padding: 0 2em;
  border: 1px solid #ccc;
}

#results {
  list-style: none;
  padding-top: 1em;
}

.result {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.result-image {
  display: block;
  max-width: 120px;
  max-height: 90px;
}

.fullview-image {
  max-width: 100%;
}